# Data Scientist Associate Practical Exam Submission

Use this template to complete your analysis and write up your summary for submission.

## Task 1 
The dataset contains **1500 rows and 8 columns** with missing values before cleaning. I have validated all the columns against the criteria in the dataset table:

- `booking_id`: int64 data type objects without missing values, so I convert it to object data type.
- `months_as_member`: Same as description without missing values.
- `weight`: 20 missing values, so I replace the missing values with the overall average weight.
- `days_before`: object data type with unclean values and without missing values, so I convert it to int64 data type and clean values.
- `day_of_week`: unordered object data type with unclean names and without missing values. I convert it to ordered type and clean values.
- `time`: Same as description without missing values.
- `category`: 50+ missing values, so I replace missing values with 'False', and convert it into boolean data type.
- `attended`: 50+ missing values, so I replace missing values with 'False', and convert it into boolean data type.

### Original Dataset

In [69]:
# Data Validation
# Check all variables in the data against the criteria in the dataset above

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('fitness_class_2212.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   booking_id        1500 non-null   int64
 1   months_as_member  1500 non-null   int64
 2   weight            1480 non-null   float64
 3   days_before       1500 non-null   object
 4   day_of_week       1500 non-null   object
 5   time              1500 non-null   object
 6   category          1500 non-null   object
 7   attended          1500 non-null   int64
dtypes: float64(1), int64(3), object(4)
memory usage: 93.9+ KB

In [70]:
df.head()

,booking_id,months_as_member,weight,days_before,day_of_week,time,category,attended
0,1,17,79.56,8,Wed,PM,Strength,0
1,2,10,79.01,2,Mon,AM,HIIT,0
2,3,16,74.53,14,Sun,AM,Strength,0
3,4,5,86.12,10,Fri,AM,Cycling,0
4,5,15,69.29,8,Thu,AM,HIIT,0

In [78]:
def variable_check(df):
    new_line = '\n'
    for col in df.columns:
        if df[col].dtype == 'object':
            print(f'''
Column: {col} | Type: {df[col].dtype}{new_line}
Number of unique values: {df[col].nunique()}{new_line}
Number of missing values: {df[col].isna().sum()}{new_line}
Unique values:{df[col].unique()}{new_line}
{'-' * 60}
            ''')
        if df[col].dtype == 'int64' or df[col].dtype == 'float64':
            print(f'''
Column: {col} | Type: {df[col].dtype}{new_line}
Number of unique values: {df[col].nunique()}{new_line}
Number of missing values: {df[col].isna().sum()}{new_line}
Unique values: {df[col].unique()}{new_line}
Min value: {min(df[col])}
{'-' * 60}
            ''')

In [79]:
variable_check(df)

Column: booking_id | Type: int64

Number of unique values: 1500

Number of missing values: 0

Unique values: [   1    2    3 ... 1498 1499 1500]

Min value: 1
------------------------------------------------------------


Column: months_as_member | Type: int64

Number of unique values: 72

Number of missing values: 0

Unique values: [ 17  10  16   5  15   7  11   9  23  13   8  22   6  33  24  14   2  12
  26  28  27   1   3  21  18  19  53  20  34  25  32  73  55   4  35  54
  76  62  42 105  90  29  60  30 107  52  37  38  48  51  40  89  57  36
  44  39  41  47  58  66  45  43  61  50  65  31  97  59  93 148 111  69]

Min value: 1
------------------------------------------------------------


Column: weight | Type: float64

Number of unique values: 1241

Number of missing values: 20

Unique values: [79.56 79.01 74.53 ... 87.38 68.64 94.39]

Min value: 55.41
------------------------------------------------------------


Column: days_before | Type: object

Number of unique values: 31

Number of missing values: 0

Unique values:['8' '2' '14' '10' '6' '4' '9' '12' '5' '3' '7' '13' '12 days' '20' '1'
 '15' '6 days' '11' '13 days' '3 days' '16' '1 days' '7 days' '8 days'
 '10 days' '14 days' '17' '5 days' '2 days' '4 days' '29']

------------------------------------------------------------


Column: day_of_week | Type: object

Number of unique values: 10

Number of missing values: 0

Unique values:['Wed' 'Mon' 'Sun' 'Fri' 'Thu' 'Wednesday' 'Fri.' 'Tue' 'Sat' 'Monday']

------------------------------------------------------------


Column: time | Type: object

Number of unique values: 2

Number of missing values: 0

Unique values:['PM' 'AM']

------------------------------------------------------------


Column: category | Type: object

Number of unique values: 6

Number of missing values: 0

Unique values:['Strength' 'HIIT' 'Cycling' 'Yoga' '-' 'Aqua']

------------------------------------------------------------


Column: attended | Type: int64

Number of unique values: 2

Number of missing values: 0

Unique values: [0 1]

Min value: 0
------------------------------------------------------------

## Task 2
*Write your description here*

## Task 3
*Write your description here*

## Task 4
*Write your description here*

## Task 5
*Write your description here*

## Task 6
*Write your description here*

In [73]:
# Start coding here...

## Task 7
*Write your description here*

In [74]:
# Start coding here...

## Task 8
*Write your description here*

## Task 9
*Write your description here*

In [75]:
# Start coding here...

## Task 10
*Write your description here*

## ✅  When you have finished...
- Publish your Workspace using the option on the left
- Check the published version of your report:
	- Can you see everything you want us to grade?
    - Are all the graphics visible?
- Review the grading rubric. Have you included everything that will be graded?
- Head back to the [Certification dashboard](https://app.datacamp.com/certification) to submit your practical exam